<<<<<<< HEAD
<div>
  <%= flash[:notice] %>
 
</div>

<p>Title: <%= @book.title %></p>
  
<p>Body: <%= @book.body %></p>
  
<p>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  |
  <%= link_to "Back", books_path %>
</p>
=======
<h2>show</h2>
>>>>>>> 4617fecc6ca237771eb5376917589dccedd6aef7
